<form id="{ID}">

    <div class="button">

        <span>
            <a href="{LINK}index.php?aid={ID}" target="_blank" class="link-pagina" title="Visualizar a página {NOME}"></a>
            <a href="{LINK}phpwcms.php?do=articles&p=2&s=1&aktion=1&id={ID}" target="_blank" title="Editar a página {NOME}">{TITULO}</a>
        </span>
        <span>{ESTRUTURA}</span>

    </div>

    <div class="content">

        <input type="hidden" value="{ID}" id="id" name="id">

        <p class="check_artigo">
            <input type="text" value="{NOME}" name="artigo" id="artigo-{ID}" placeholder="Página" class="floatlabel artigo">
        </p>

        <p class="check_subtitulo">
            <input type="text" value="{SUBTITULO}" name="subtitulo" id="subtitulo-{ID}" placeholder="Subtítulo" class="floatlabel subtitulo">
        </p>

        <p class="check_titulo">
            <input type="text" value="{TITULO-SEO}" name="titulo" id="titulo-{ID}" placeholder="Título do SEO" class="floatlabel titulo">
        </p>

        <p class="check_descricao">
            <span class="floatlabel-wrapper" style="position:relative; display: flex">
                <label for="50" class="label-floatlabel" style="position: absolute; top: 2px; left: 8px; display: block; opacity: 1; font-size: 11px; font-weight: normal; color: rgb(153, 153, 153); transition: all 0.1s linear 0s;">Descrição</label>
                <textarea name="descricao" id="descricao-{ID}" class="descricao">{DESCRICAO}</textarea>
            </span>
        </p>

        <p class="check_palavras">
            <span class="floatlabel-wrapper" style="position:relative; display: flex">
                <label for="50" class="label-floatlabel" style="position: absolute; top: 2px; left: 8px; display: block; opacity: 1; font-size: 11px; font-weight: normal; color: rgb(153, 153, 153); transition: all 0.1s linear 0s;">Palavras-chave</label>
                <textarea name="palavra-chave" id="palavra-chave-{ID}" class="palavra-chave">{PALAVRAS}</textarea>
            </span>
        </p>

        <p class="check_sumario">
            <span class="floatlabel-wrapper" style="position:relative; display: flex">
                <label for="50" class="label-floatlabel" style="position: absolute; top: 2px; left: 8px; display: block; opacity: 1; font-size: 11px; font-weight: normal; color: rgb(153, 153, 153); transition: all 0.1s linear 0s;">Sumário</label>
                <textarea name="sumario" class="sumario">{SUMARIO}</textarea>
            </span>
        </p>

        <p class="check_url">
            <input type="text" value="{ALIAS}" name="article_alias" id="article-alias-{ID}" placeholder="URL" class="floatlabel article_alias">
        </p>

        <p class="box-submit">
            <input type="submit" name="submit" value="Atualizar" id="submit" />
            <span class="mensagem"></span>
        </p>

    </div>

</form>