<!--IMAGES_HEADER_START//-->
<div class="bloco-images baid[CLONE]{CLONE}[/CLONE]">

    <section>
       
    [TITLE]<div class="subtitulo">[/TITLE]
       [TITLE]<h2>{TITLE}</h2>[/TITLE]
        [SUBTITLE]<h3>{SUBTITLE}</h3>[/SUBTITLE]
    [TITLE]</div>[/TITLE]
            [TITLE]<div class="divider"></div>[/TITLE]
        [TEXT]
        <div class="txt">
            {TEXT}
        </div>
        [/TEXT]
        <div class="grid [COLUNAS]col{COLUNAS}[/COLUNAS]">

<!--IMAGES_HEADER_END//-->
 

<!--IMAGES_ENTRY_START//-->
        <article>
            <figure>{IMAGE}</figure>
            <div class="servico-info">

                [CAPTION]<h4>{CAPTION}</h4>[/CAPTION]
                [INFOTEXT]{INFOTEXT}[/INFOTEXT]
                [URL]<div class="bloco-link"><a href="{URL}" class="link">{BOTAO}</a></div>[/URL]
            </div>
        </article>

<!--IMAGES_ENTRY_END//-->


<!--IMAGES_ENTRY_SPACER_START//-->

	<!-- space between images {SPACE}px -->

<!--IMAGES_ENTRY_SPACER_END//-->


<!--IMAGES_ROW_SPACER_START//-->

	<!-- space between image rows {SPACE}px -->

<!--IMAGES_ROW_SPACER_END//-->


<!--IMAGES_FOOTER_START//-->
    </div>
    [LINK]<div class="clear"><a href="{LINK}" class="link-geral">{BOTAO}</a></div>[/LINK]
    </section>

</div>
<!--IMAGES_FOOTER_END//-->