<div class="servicos sid{ID}">
    <section>
        [TITLE]<h2>{TITLE}</h2>[/TITLE]
        [SUBTITLE]<h3>{SUBTITLE}</h3>[/SUBTITLE]
        [TITLE]<div class="divider"></div>[/TITLE]
        <!--IMAGES_HEADER_END//-->

        <!--IMAGES_ENTRY_START//-->


        <article>
            <figure>{IMAGE}</figure>
            <div class="servico-info">
                [CAPTION]<h4>{CAPTION}</h4>[/CAPTION]
                [INFOTEXT]{INFOTEXT}[/INFOTEXT]
                [URL]<a href="{URL}" class="link">{BOTAO}</a>[/URL]
            </div>
        </article>
        <!--IMAGES_ENTRY_END//-->

        <!--IMAGES_ENTRY_SPACER_START//-->

        <!--IMAGES_ENTRY_SPACER_END//-->

        <!--IMAGES_ROW_SPACER_START//-->

        <!--IMAGES_ROW_SPACER_END//-->

        <!--IMAGES_FOOTER_START//-->

    </section>
    [LINK]<a href="{LINK}" class="link">{BOTAO}</a>[/LINK]
</div>