
/*-- INICIO DA CONFIGURACAO DO MODAL POPUP (deletar caso nao use)--*/
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}
#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}
#cboxContent {
  position: relative;
}
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#cboxTitle {
  margin: 0;
}
#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
}
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}
#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
/*--personalizacao do popup--*/
#colorbox {
  outline: 0;
  border: 20px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin-left: -20px;
}
#cboxContent {
  background: #fff;
  overflow: hidden;
}
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}
#cboxLoadedContent {
  margin-bottom: 28px;
}
#cboxLoadingOverlay {
  background: url(../../images/loading_background.png) no-repeat center center;
}
#cboxLoadingGraphic {
  background: url(../../images/loading.gif) no-repeat center center;
}
#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494;
}
#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494;
}
#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef;
}
#cboxPrevious {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../../images/controls.png) no-repeat -75px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}
#cboxPrevious.hover {
  background-position: -75px -25px;
}
#cboxNext {
  position: absolute;
  bottom: 0;
  left: 27px;
  background: url(../../images/controls.png) no-repeat -50px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}
#cboxNext.hover {
  background-position: -50px -25px;
}
#cboxLoadingOverlay {
  background: url(../../images/loading_background.png) no-repeat center center;
}
#cboxLoadingGraphic {
  background: url(../../images/loading.gif) no-repeat center center;
}
#cboxClose {
  position: absolute;
  bottom: 5px;
  right: 14px;
  background: url(../images/padrao/close-light-box.png) center no-repeat #fff;
  border-radius: 50%;
  border: 2px solid #000;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  padding: 0;
  outline: none;
  transition: cubic-bezier(0.01, 0.3, 0, 1.27) 0.4s;
}
#cboxClose:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.6);
}

.title{
    margin-bottom: 20px;
}
.sistem-message{
    display:flex;
    justify-content:center;
    align-items:center;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    width:100%;
    font-family:'Quicksand',Tahoma,Arial,Helvetica,sans-serif;
    transition:.3s all linear;
    -moz-transition:.3s all linear;
    -webkit-transition:.3s all linear;
    -ms-transition:.3s all linear;
    font-size:15px;
    color:#fff;
    padding:12px 20px;
    background-color:#ccc;
    position:fixed;
    top:-60px;
    right:0;
    z-index:10000
}
.sistem-message i{
    margin-right:12px
}
.msg-sucesso{
    background-color:#679e67;
    border-bottom-color:#4d714d;
    border-bottom-width:2px;
    border-bottom-style:solid
}
.msg-erro{
    background-color:#aa2525;
    border-bottom-color:#7b1c1c;
    border-bottom-width:2px;
    border-bottom-style:solid
}

.links-controle{
    display: flex;
    justify-content: center;
}
.links-controle p{
    background: #dedede;
    border-radius: 4px;
    margin: 0 10px;
    padding: 6px 9px;
}
.links-controle p input[type=checkbox]{
    float: left;
    margin:3px 5px 0 0;
}
.link-exemplo{
    display: flex;
    justify-content: center;
}
.link-exemplo a{
    background: #2996cc;
    border-radius: 4px;
    padding: 6px 9px;
    color: #ffffff;
}
.link-exemplo a:hover{
    background: #2583b2;
}

/*-- FIM DA CONFIGURACAO DO MODAL POPUP --*/
/*---------------------------------------------------------------------------------------------------------------*/
