<!--TEASER_HEAD_START//-->
<div class="noticias">
    <section>
        [TITLE]<div class="subtitulo">[/TITLE]
            [TITLE]<h2>{TITLE}</h2>[/TITLE]
            [SUBTITLE]<h3>{SUBTITLE}</h3>[/SUBTITLE]
            [TITLE]</div>[/TITLE]
        [TITLE]<div class="divider"></div>[/TITLE]
        <div class="grid">
            <!--TEASER_HEAD_END//-->

            <!--TEASER_ENTRY_START//-->

            <article>
                <figure>{IMAGE}</figure>
                <div class="servico-info">
                    <div class="data"><i class="far fa-calendar-alt"></i>{DATE:d M Y lang=PT}</div>
                    [TITLE]<h4>{TITLE}</h4>[/TITLE]

                    [SUMMARY]<span>{SUMMARY}</span>[/SUMMARY]

                    <div class="bloco-link"><a href="{ARTICLELINK}" class="link">+ Ler Mais</a></div>
                </div>
            </article> 

            <!--TEASER_ENTRY_END//-->

            <!--TEASER_SPACER_START//-->
            <!--TEASER_SPACER_END//-->

            <!--TEASER_FOOTER_START//-->
        </div>

        [LINK]<div class="clear"><a href="{LINK}" class="link-geral">{BOTAO}</a></div>[/LINK]

    </section>

</div>
<!--TEASER_FOOTER_END//-->