<!--TEASER_HEAD_START//-->
<div class="servicos baid{ID}">
    <section>
        [TITLE]<div class="subtitulo">[/TITLE]
            [TITLE]<h2>{TITLE}</h2>[/TITLE]
            [SUBTITLE]<h3>{SUBTITLE}</h3>[/SUBTITLE]
            [TITLE]</div>[/TITLE]
        [TITLE]<div class="divider"></div>[/TITLE]

        [TEASER]
        <!--TEASER_HEAD_END//-->

        <!--TEASER_ENTRY_START//-->

        <article>
            <figure>{IMAGE}</figure> 
            <div class="servico-info">
                [TITLE]<h4>{TITLE}</h4>[/TITLE]
                [SUBTITLE]<h5>{SUBTITLE}</h5>[/SUBTITLE]
                [SUMMARY]<span>{SUMMARY}</span>[/SUMMARY]
                [ARTICLELINK]<div class="bloco-link"> <a href="{ARTICLELINK}" class="link">+ Saiba Mais</a></div>[/ARTICLELINK]
            </div>
        </article>

        <!--TEASER_ENTRY_END//-->

        <!--TEASER_ENTRY_SPACER_START//-->
        <!-- next teaser please -->
        <!--TEASER_ENTRY_SPACER_END//-->

        <!--TEASER_ROW_SPACER_START//-->

        <!--TEASER_ROW_SPACER_END//-->

        <!--TEASER_FOOTER_START//-->
        [/TEASER]

        [LINK]<div class="clear"><a href="{LINK}" class="link-geral">{BOTAO}</a></div>[/LINK]
        
    </section>
</div>
<!--TEASER_FOOTER_END//-->

<!--TEASER_COLUMN_OVERWRITE_START//--><!--TEASER_COLUMN_OVERWRITE_END//-->