<!--TEASER_HEAD_START//-->
[TITLE]<h2>{TITLE}</h2>[/TITLE]
[SUBTITLE]<h3>{SUBTITLE}</h3>[/SUBTITLE]
[TEASER]<div class="teaser">
    <!--TEASER_HEAD_END//-->

    <!--TEASER_ENTRY_START//-->
 
    <article>
        <figure>{IMAGE}[CAPTION]<figcaption>{CAPTION}</figcaption>[/CAPTION]</figure> 
        <div class="content-teaser">
            [TITLE]<h4>{TITLE}</h4>[/TITLE]
            [SUBTITLE]<h5>{SUBTITLE}</h5>[/SUBTITLE]
            <span>{SUMMARY}</span>
            [ARTICLELINK] <a href="{ARTICLELINK}"><b>Continuar</b></a>[/ARTICLELINK]
        </div>
    </article>
    <!--TEASER_ENTRY_END//-->

    <!--TEASER_ENTRY_SPACER_START//-->
    <!-- next teaser please -->
    <!--TEASER_ENTRY_SPACER_END//-->

    <!--TEASER_ROW_SPACER_START//-->
    <hr />
    <!--TEASER_ROW_SPACER_END//-->

    <!--TEASER_FOOTER_START//-->
</div>[/TEASER]
<!--TEASER_FOOTER_END//-->

<!--TEASER_COLUMN_OVERWRITE_START//--><!--TEASER_COLUMN_OVERWRITE_END//-->