@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
body,
span,
p,
form,
img,
a,
input,
select,
textarea,
html,
figure,
header,
footer,
article,
section,
iframe,
button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
figure {
  display: inline;
}
ul,
ol,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: normal;
  font-family: 'Roboto';
  word-wrap: break-word;
  word-break: break-word;
}
[type=text],
[type=password],
[type=submit],
textarea {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}
.spaceAfterCP,
.spaceBeforeCP {
  width: 100%;
  float: left;
}
.al {
  text-align: left;
}
.ac {
  text-align: center;
}
.ar {
  text-align: right;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fn {
  float: none;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
.db {
  display: block;
}
.dt {
  display: table;
}
.travar {
  overflow: hidden;
}
.center {
  width: 1200px;
  margin: 0 auto 0;
}
.center-flex {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.first {
  padding-left: 0;
  margin-left: 0;
}
.last {
  padding-right: 0 !important;
  margin-right: 0 !important;
}
.full {
  width: 100%;
}
.full-max {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.divider {
  width: 100%;
  clear: both;
}
@media only screen and (min-width: 1024px) {
  .divider {
    margin-top: 35px;
  }
}
@media only screen and (max-width: 1023px) {
  .divider {
    margin-top: 20px;
  }
}
.cb {
  clear: both;
}
.cr {
  clear: right;
}
.cl {
  clear: left;
}
/*BLOCOS PADRAO*/
.bloco-1 {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.bloco-2 {
  width: 50%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.bloco-3 {
  width: 33.3%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.bloco-4 {
  width: 25%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.bloco-5 {
  width: 20%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.clear {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  z-index: 1;
}
.i-xlarge i {
  font-size: 100px;
}
.i-large i {
  font-size: 75px;
}
.i-medium i {
  font-size: 50;
}
.i-small i {
  font-size: 25px;
}
.i-xsmall i {
  font-size: 15px;
}
@media only screen and (min-width: 1024px) {
  .menu-fixo {
    width: 100% !important;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    top: -70px;
    left: 0 !important;
    background-color: #fff;
    transition: 0.25s all ease-out;
    -moz-transition: 0.25s all ease-out;
    -webkit-transition: 0.25s all ease-out;
    -ms-transition: 0.25s all ease-out;
  }
  .menu-fixo .menu {
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    display: none;
    opacity: 0;
    filter: alpha(opacity=0);
    justify-content: space-between;
    align-items: center;
  }
  .menu-fixo .logo {
    width: 100px;
    height: 70px;
  }
  .scroll-to-fixed-fixed {
    border-bottom-color: #d80000;
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }
  .scroll-to-fixed-fixed .menu {
    display: flex;
    opacity: 1;
    filter: alpha(opacity=1);
  }
  .scroll-to-fixed-fixed .pmenu a {
    color: #d80000;
    font-size: 14px;
  }
  .scroll-to-fixed-fixed .menu .psubmenu {
    top: 25px;
  }
}
@media only screen and (max-width: 1023px) {
  .menu-fixo {
    display: none !important;
  }
}
.menu .pmenu li {
  margin-left: 5px;
  margin-right: 5px;
}
.menu .pmenu li:hover > a {
  color: #DDA600;
}
.menu .pmenu li:hover > a:before {
  width: 100%;
}
.menu .pmenu a {
  position: relative;
  height: auto;
  line-height: 1.5;
  padding-left: 5px;
  padding-right: 5px;
  transition: 0.25s all ease-out;
  -moz-transition: 0.25s all ease-out;
  -webkit-transition: 0.25s all ease-out;
  -ms-transition: 0.25s all ease-out;
  z-index: 2;
}
.menu .pmenu a:before {
  content: '';
  display: block;
  background-color: #d80000;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.25s all ease-out;
  -moz-transition: 0.25s all ease-out;
  -webkit-transition: 0.25s all ease-out;
  -ms-transition: 0.25s all ease-out;
}
.menu .pmenu .ativo a {
  color: #DDA600;
}
.menu .psubmenu {
  transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
}
.menu .psubmenu a:before {
  display: none;
}
.menu .psubmenu li {
  margin-left: 0;
  margin-right: 0;
}
.menu .psubmenu {
  opacity: 0;
  filter: alpha(opacity=0);
  top: 27px;
}
.menu li:hover > .psubmenu {
  opacity: 1;
  filter: alpha(opacity=1);
}
.menu .psubmenu {
  border-top-left-radius: 0px;
}
.menu .psubmenu {
  border-top-left-radius: 0px;
}
.menu .psubmenu {
  border-top-left-radius: 0px;
}
.menu .psubmenu {
  border-top-left-radius: 0px;
}
@media only screen and (max-width: 1023px) {
  .overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    max-width: 300px;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
  }
  .overlay.open {
    opacity: 1;
    filter: alpha(opacity=1);
    visibility: visible;
    z-index: 2;
  }
  .overlay nav {
    padding: 25px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .overlay nav a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .overlay nav li {
    display: block;
    position: relative;
    padding-bottom: 5px;
    width: 100%;
  }
  .overlay nav li:hover > .psubmenu {
    max-height: 1500px;
    padding-bottom: 10px;
    margin-top: 5px;
  }
  .overlay nav i {
    margin-left: 10px;
  }
  .overlay .psubmenu {
    max-height: 0px;
    overflow: hidden;
    transition: 0.8s all ease;
    -moz-transition: 0.8s all ease;
    -webkit-transition: 0.8s all ease;
    -ms-transition: 0.8s all ease;
    height: 100%;
    padding-left: 25px;
  }
  .overlay .psubmenu li {
    line-height: 26px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .overlay .psubmenu i {
    display: none;
  }
  #abrir-contato-responsivo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 7;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -ms-border-radius: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
    transition: 0.25s all ease-out;
    -moz-transition: 0.25s all ease-out;
    -webkit-transition: 0.25s all ease-out;
    -ms-transition: 0.25s all ease-out;
  }
  .contato-responsivo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 25px;
    float: left;
    position: fixed;
    bottom: 0;
    right: -100%;
    z-index: 6;
    transition: 0.25s all ease-out;
    -moz-transition: 0.25s all ease-out;
    -webkit-transition: 0.25s all ease-out;
    -ms-transition: 0.25s all ease-out;
    height: 100vh;
    max-width: 300px;
  }
  .contato-responsivo p {
    position: relative;
    margin-bottom: 10px;
    min-height: 30px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contato-responsivo p i {
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 0;
  }
  .contato-responsivo.open {
    right: 0;
  }
  .busca-responsivo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0px 25px 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-top: 75px;
  }
  .busca-responsivo form {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .busca-responsivo i {
    font-size: 20px;
  }
  .busca-responsivo input {
    background: none;
    font-size: 13px;
    height: 40px;
  }
  .redes-responsivo {
    width: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    padding-top: 25px;
  }
  .redes-responsivo a {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -ms-border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
  }
  .acesso-restrito {
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: fixed;
    bottom: 10px;
    right: 0;
    z-index: 0;
    color: #fff;
    padding: 10px 25px;
  }
  body {
    background-color: #d80000;
  }
  #container {
    background-color: #fff;
    transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
    position: relative;
    z-index: 5;
    height: 100vh;
    overflow: scroll;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  .travar #container {
    height: 100vh;
    overflow: hidden;
    transform: scale(0.8) translateX(-350px) translateZ(0) !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  .travar .fechar-menu {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=1);
    transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
  }
  .fechar-menu {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
    transition: 0.25s all ease;
    -moz-transition: 0.25s all ease;
    -webkit-transition: 0.25s all ease;
    -ms-transition: 0.25s all ease;
    user-select: none;
  }
  .fechar-menu svg {
    width: 80px;
    height: 80px;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .fechar-menu path {
    fill: none;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -ms-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    stroke-width: 40px;
    stroke-linecap: round;
    stroke: #fff;
    stroke-dashoffset: 0px;
    transition-delay: 0.3s;
  }
  .fechar-menu path#top,
  .fechar-menu path#bottom {
    stroke-dasharray: 240px 950px;
  }
  .fechar-menu path#middle {
    stroke-dasharray: 240px 240px;
  }
  .fechar-menu .cross path#top,
  .fechar-menu .cross path#bottom {
    stroke-dashoffset: -650px;
  }
  .fechar-menu .cross path#middle {
    stroke-dashoffset: -115px;
    stroke-dasharray: 1px 220px;
  }
}
@media only screen and (min-width: 1024px) {
  .pmenu {
    font-size: 15px;
  }
  .pmenu a {
    font-family: 'Roboto';
    transition: 0.25s all ease-out;
    -moz-transition: 0.25s all ease-out;
    -webkit-transition: 0.25s all ease-out;
    -ms-transition: 0.25s all ease-out;
    display: block;
    height: 50px;
    line-height: 50px;
    color: #d80000;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    font-weight: 400;
    text-transform: none;
  }
  .pmenu li {
    float: left;
    position: relative;
    width: auto;
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .pmenu li:hover > .psubmenu {
    visibility: visible;
  }
  .pmenu i {
    font-size: 15px;
    margin-left: 10px;
  }
  .psubmenu {
    visibility: hidden;
    position: absolute;
    z-index: 999;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 200px;
    font-size: 15px;
    padding: 10px;
    transition: 0.25s all ease-out;
    -moz-transition: 0.25s all ease-out;
    -webkit-transition: 0.25s all ease-out;
    -ms-transition: 0.25s all ease-out;
    background-color: #d80000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    left: 0;
  }
  .psubmenu li {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .psubmenu a {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 45px !important;
    line-height: 45px !important;
    color: #fff !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    border: none !important;
    font-weight: 400;
    text-transform: none;
  }
  .psubmenu a:hover {
    background-color: #a50000 !important;
    color: #fff !important;
  }
  .psubmenu i {
    display: none;
  }
  .psubmenu a {
    text-align: left;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-toggle {
    display: none;
  }
  .overlay {
    display: none;
    visibility: hidden;
  }
  .button_container {
    display: none;
  }
}
@media only screen and (max-width: 1023px) {
  .menu {
    display: none !important;
  }
  .button_container {
    cursor: pointer;
    transition: opacity 0.25s ease;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    top: 25px;
    right: 15px;
    z-index: 1;
    background-color: transparent;
  }
  .button_container i {
    color: #d80000;
    font-size: 25px;
  }
  .pmenu {
    font-size: 20px;
  }
  .pmenu a {
    font-family: 'Roboto';
    transition: 0.25s all ease-out;
    -moz-transition: 0.25s all ease-out;
    -webkit-transition: 0.25s all ease-out;
    -ms-transition: 0.25s all ease-out;
    color: #fff !important;
    font-weight: 400;
    text-transform: none;
  }
  .psubmenu {
    font-size: 16px;
  }
  .psubmenu a {
    color: #fff !important;
    font-weight: 400;
    text-transform: none;
  }
  .busca-responsivo {
    background-color: #d80000;
  }
  .busca-responsivo ::-webkit-input-placeholder {
    color: #fff;
  }
  .busca-responsivo ::-moz-placeholder {
    color: #fff;
  }
  .busca-responsivo :-ms-input-placeholder {
    color: #fff;
  }
  .busca-responsivo input:-moz-placeholder {
    color: #fff;
  }
  .busca-responsivo form {
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
  }
  .busca-responsivo i {
    color: #fff;
  }
  .busca-responsivo input {
    color: #fff;
  }
  #abrir-contato-responsivo {
    color: #fff;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
  }
  #abrir-contato-responsivo.active {
    background-color: #fff;
    color: #a50000;
  }
  .contato-responsivo {
    background-color: #a50000;
    color: #fff;
  }
  .contato-responsivo a {
    color: #fff !important;
  }
  .contato-responsivo i {
    font-size: 15px;
    color: #fff;
  }
  .redes-responsivo {
    border-top-color: #fff;
    border-top-width: 1px;
    border-top-style: solid;
  }
  .redes-responsivo a {
    border-color: #fff;
    border-width: 2px;
    border-style: solid;
  }
  .acesso-restrito {
    color: #fff;
  }
  .acesso-restrito a {
    color: #fff !important;
  }
}
.acesso-restrito {
  display: none !important;
}
.busca-responsivo {
  display: none !important;
}
.telefone-responsivo a {
  font-size: 18px;
}
.whatsapp-responsivo {
  font-size: 18px;
}
.whatsapp-responsivo a {
  font-size: 18px;
}
.email-responsivo a {
  font-size: 13px;
}
.endereco-responsivo {
  font-size: 13px;
}
