<div class="banner-interna"></div>
<div class="interna contato">
    <div class="breadcrumb"><div class="wrap-breadcrumb">{BREADCRUMB}</div></div>
    {CONTENT}

    <article class="info-contato">
        <h2>Informações</h2>
        [TELEFONE]
        <p class="telefone-contato">
            <i class="fa fa-phone"></i>
            <b>Telefone</b> 
            {TELEFONE}
        </p>
        [/TELEFONE]
        [WHATSAPP]
        <p class="whatsapp-contato">
            <i class="fab fa-whatsapp"></i>
            <b>Whatsapp</b> 
            {WHATSAPP}
        </p> 
        [/WHATSAPP]
        [EMAILS]
        <p class="email-contato">
            <i class="fa fa-envelope"></i>
            <b>E-mail</b> 
            {EMAILS}
        </p>
        [/EMAILS]
        [RUA]
        <p class="endereco-contato">
            <i class="fas fa-map-marker-alt" aria-hidden="true"></i> 
            <b>Endereço</b> 
            {RUA}[NUMERO], {NUMERO}[/NUMERO][COMPLEMENTO] - {COMPLEMENTO}[/COMPLEMENTO][BAIRRO] - {BAIRRO}[/BAIRRO][CIDADE] - {CIDADE}[/CIDADE][UF] - {UF}[/UF][CEP] - {CEP}[/CEP]
        </p>
        [/RUA]

        [RUA2]
        <p class="endereco-contato">
            <i class="fas fa-map-marker-alt" aria-hidden="true"></i> 
            <b>Endereço</b> 
            {RUA2}[NUMERO2], {NUMERO2}[/NUMERO2][COMPLEMENTO2] - {COMPLEMENTO2}[/COMPLEMENTO2][BAIRRO2] - {BAIRRO2}[/BAIRRO2][CIDADE2] - {CIDADE2}[/CIDADE2][UF2] - {UF2}[/UF2][CEP2] - {CEP2}[/CEP2]
        </p>
        [/RUA2]

        [REDES-SOCIAIS]
        <div class="redes redes-contato">
            <b>Siga-nos</b> 
            {REDES-SOCIAIS}
        </div>
        [/REDES-SOCIAIS]

    </article>





    [MAPS]
    <div id="canvas1" class="mapa"> 
        <iframe id="map_canvas1" height="400" src="https://www.google.com.br/maps?sll=m&amp;q={RUA-MAPA}+{NUMERO}+{BAIRRO-MAPA}+{CIDADE-MAPA}+{UF}&amp;dg=opt&amp;ie=UTF8&amp;hq=&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    </div>
    [/MAPS]

    [MAPS2]
    <div id="canvas2" class="mapa"> 
        <iframe id="map_canvas2" height="400" src="https://www.google.com.br/maps?sll=m&amp;q={RUA-MAPA2}+{NUMERO2}+{BAIRRO-MAPA2}+{CIDADE-MAPA2}+{UF2}&amp;dg=opt&amp;ie=UTF8&amp;hq=&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    </div>
    [/MAPS2]
</div>