<!--LINKLIST_START//-->
[JS]js/jquery.colorbox.js[/JS]
[JS]
<script>
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var playerDivs = document.querySelectorAll(".player"); // get .player nodes
    var playerDivsArr = [].slice.call(playerDivs); // nodelist to array to use forEach();
    var players = new Array(playerDivsArr.length);

    function onYouTubeIframeAPIReady() {
        playerDivsArr.forEach(function (e, i) { // forEach ...
            var ref = e.id.replace('player-', '');
            players[i] = new YT.Player(e.id, {
                videoId: ref,
                playerVars: {
                    autoplay: 1,
                    loop: 1,
                    controls: 0,
                    showinfo: 0,
                    mute: 1,
                    modestbranding: 1
                },
            });
        })

    }

    $(document).ready(function () {
        $(".modal").colorbox({iframe: true, innerWidth: 800, innerHeight: 600});
    });
</script>
[/JS]

<div class="bloco-videos video-auto">
    <section>
        [TITLE]<div class="subtitulo">[/TITLE]
            [TITLE]<h2>{TITLE}</h2>[/TITLE]
            [SUBTITLE]<h3>{SUBTITLE}</h3>[/SUBTITLE]
            [TITLE]</div>[/TITLE]
        [TITLE]<div class="divider"></div>[/TITLE]
        [LINKLIST]
        <div class="grid">
            {LINKLIST}
        </div>
        [/LINKLIST]
    </section>
</div>

<!--LINKLIST_END//-->

<!--LINKLIST_ENTRY_START//-->
[LINK]
<article class="link-video">

    <figure>
        <i class="far fa-play-circle"></i>
        <div id="player-{LINK}" class="player"></div>

    </figure>
    <div class="video-tit">
        <h4>{LINKNAME}</h4>
        <a href="https://www.youtube.com/embed/{LINK}?rel=0&amp;wmode=transparent" class="modal cboxElement">
            <i class="fab fa-youtube"></i>Assistir Video
        </a>
    </div>

    <a href="https://www.youtube.com/embed/{LINK}?rel=0&amp;wmode=transparent" class="video-resp" target="_blank">
        <figure>
            <img src="https://img.youtube.com/vi/{LINK}/mqdefault.jpg" width="395" height="270" alt="" />
        </figure>
        <div class="hover">
            <h4>{LINKNAME}</h4>
        </div>
    </a>

</article>
[/LINK]
<!--LINKLIST_ENTRY_END//-->

<!--LINKLIST_SPACE_START//-->
<!--LINKLIST_SPACE_END//-->
