<!--TABS_START//-->
<div class="txt-bloco baid{ID}">
    <section>
        [TITLE]<div class="subtitulo">[/TITLE]
            [TITLE]<h2>{TITLE}</h2>[/TITLE]
            [SUBTITLE]<h3>{SUBTITLE}</h3>[/SUBTITLE]
            [TITLE]</div>[/TITLE]
        [TITLE]<div class="divider"></div>[/TITLE]

        [TABS_ENTRIES]
        <div class="grid">{TABS_ENTRIES}</div>
        [/TABS_ENTRIES]
    </section>
</div>

<!--TABS_END//-->

<!--TABS_ENTRY_START//-->
[TABCONTENT]
<article>
    <div class="tit-txt-bloco">
        [TABTITLE]<h4>{TABTITLE}</h4>[/TABTITLE]
        [TABHEADLINE]<h5>{TABHEADLINE}</h5>[/TABHEADLINE]
    </div>

    [TABTEXT]    
    <div class="tit-txt-bloco">
        {TABTEXT}
    </div>
    [/TABTEXT]

</article>
[/TABCONTENT]
<!--TABS_ENTRY_END//--> 