<!--TABS_START//-->
[JS]js/jquery.accordion.js[/JS]

[TITLE]<h3>{TITLE}</h3>[/TITLE]
[SUBTITLE]<h4>{SUBTITLE}</h4>[/SUBTITLE]
       [TITLE]<div class="divider"></div>[/TITLE]
[TABS_ENTRIES]
<div id="tab{ID}">{TABS_ENTRIES}</div>
[/TABS_ENTRIES]

<!--TABS_END//-->

<!--TABS_ENTRY_START//-->
<div class="accordion">
    <div class="accordionButton"><i class="far fa-plus-square"></i>{TABTITLE}</div>
    [TABCONTENT]
        <div class="accordionContent">
            [TABHEADLINE]<h3>{TABHEADLINE}</h3>[/TABHEADLINE]
            [TABTEXT]{TABTEXT}[/TABTEXT]
       </div>
    [/TABCONTENT]
</div>
<!--TABS_ENTRY_END//-->