<!--IMAGES_HEADER_START//-->
 <div class="galeria baid{ID}">
   <section>
          [TITLE]<div class="subtitulo">[/TITLE]
                [TITLE]<h2>{TITLE}</h2>[/TITLE]
                [SUBTITLE]<h3>{SUBTITLE}</h3>[/SUBTITLE]
                [TITLE]</div>[/TITLE]
            [TITLE]<div class="divider"></div>[/TITLE]
        [TEXT]
        <div class="txt">
            {TEXT}
        </div>
        [/TEXT]
<ul class="lightgallery">
<!--IMAGES_HEADER_END//-->

<!--IMAGES_ENTRY_START//-->
	<li [ZOOM]data-src="{IMAGE_REL}"[/ZOOM] [CAPTION]data-sub-html="{CAPTION}"[/CAPTION]>
            [ZOOM]<a href="javascript:void(0)">[/ZOOM]
            <figure><img src="{THUMB_REL}" alt="" /> </figure>
            
            [CAPTION]<b>{CAPTION}</b>[/CAPTION]
            <i class="fas fa-search"></i>
            [ZOOM]</a>[/ZOOM]
        </li>
<!--IMAGES_ENTRY_END//-->

<!--IMAGES_ENTRY_SPACER_START//-->
<!--IMAGES_ENTRY_SPACER_END//-->


<!--IMAGES_ROW_SPACER_START//-->
<!--IMAGES_ROW_SPACER_END//-->

<!--IMAGES_FOOTER_START//-->
</ul>
    </section>
</div>
        [JS]
            <script type="text/javascript">
                $(document).ready(function () {
                    $('.lightgallery').lightGallery();
                });
            </script>
        [/JS]
        [JS]js/lightgallery-all.min.js[/JS]
        [JS]js/jquery.mousewheel.min.js[/JS]
<!--IMAGES_FOOTER_END//-->