<!--IMAGES_HEADER_START//-->
<script src="js/jquery.bxslider.js"></script>

<script>
    $(document).ready(function () {
        $('.slider-banner').bxSlider({
            mode: "fade",
            controls: true,
            pager: false,
            responsive: true,
            nextText: "<i class='fa fa-angle-right'></i>",
            prevText: "<i class='fa fa-angle-left'></i>",
            pause: 10000
        });
    });
</script>


<div class="banner">
    <ul class="slider-banner">
        <!--IMAGES_HEADER_END//-->

        <!--IMAGES_ENTRY_START//-->
        <li>
            <div class="img-banner" style="background:url({THUMB_ABS}) center no-repeat; background-size:cover;"></div>
            <div class="legenda-banner">
                <div>
                    <b>{CAPTION}</b>
                    {INFOTEXT} 
                    <div>
                        [URL]<a href="{URL}">Saiba Mais</a>[/URL]
                    </div>
                </div>
            </div>

        </li> 
        <!--IMAGES_ENTRY_END//-->

        <!--IMAGES_ENTRY_SPACER_START//-->

        <!--IMAGES_ENTRY_SPACER_END//-->

        <!--IMAGES_ROW_SPACER_START//-->

        <!--IMAGES_ROW_SPACER_END//-->

        <!--IMAGES_FOOTER_START//-->
    </ul>
</div>
<!--IMAGES_FOOTER_END//-->