<!--IMAGES_HEADER_START//-->
<div class="logos baid{ID}">
    <section>
        [TITLE]<div class="subtitulo">[/TITLE]
            [TITLE]<h2>{TITLE}</h2>[/TITLE]
            [SUBTITLE]<h3>{SUBTITLE}</h3>[/SUBTITLE]
            [TITLE]</div>[/TITLE]
        [TITLE]<div class="divider"></div>[/TITLE]
        [TEXT]
        <div class="txt">
            {TEXT}
        </div>
        [/TEXT]
        <ul class="[COLUNAS]col{COLUNAS}[/COLUNAS]">
            <!--IMAGES_HEADER_END//-->

            <!--IMAGES_ENTRY_START//-->
            <li>

                <figure>{IMAGE}</figure>
                [CAPTION]<b>{CAPTION}</b>[/CAPTION]

            </li>
            <!--IMAGES_ENTRY_END//-->

            <!--IMAGES_ENTRY_SPACER_START//-->
            <!--IMAGES_ENTRY_SPACER_END//-->


            <!--IMAGES_ROW_SPACER_START//-->
            <!--IMAGES_ROW_SPACER_END//-->

            <!--IMAGES_FOOTER_START//-->
        </ul>
    </section>
</div>
<!--IMAGES_FOOTER_END//-->